<!-- TODO: incluir código original del sistema -->
<div>
    <form name="form-login" ng-submit="login.submit()">
        <input type="text" tabindex="1" placeholder="Nombre del usuario" autocomplete="username" ng-model="login.username">
        <input type="password" tabindex="2" placeholder="Contraseña" autocomplete="current-password" ng-model="login.password">
        <input type="submit" tabindex="3" value="Iniciar sesión">
    </form>
</div>
<div>
    <a href="#!/forgot-password/">Olvidaste la contraseña</a> | <a href="#!/reset-password/algo">Cambiar contraseña</a>
</div>
